<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    <label>ProductId</label>
    <input  name="productId" required/>
    <br/>
    <label>ProductName</label>
    <input  name="productName" required/>
    <br/>
    <label>Price</label>
    <input  name="price" required/>
    <br/>
    <label>Rating</label>
    <input name="rating" required/>
    <br/>
    <input type="submit" value="Submit"/>



</form>

</body>
</html>